<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="deacb2">  <td>21/01/26 17:57:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MT.beforeClass()[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2053591126</td>   <td></td> </tr>
<tr bgcolor="74e963">  <td>21/01/26 17:57:38</td>   <td>565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@2053591126</td>   <td></td> </tr>
<tr bgcolor="6161f7">  <td>21/01/26 17:57:46</td>   <td>8987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToCartTestcases.TC_01_AddToCart_A(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">TC_01_AddToCart_A</td> 
  <td>main@2053591126</td>   <td></td> </tr>
<tr bgcolor="74e963">  <td>21/01/26 17:57:59</td>   <td>21693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@2053591126</td>   <td></td> </tr>
<tr bgcolor="74e963">  <td>21/01/26 17:58:00</td>   <td>22928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@2053591126</td>   <td></td> </tr>
<tr bgcolor="6161f7">  <td>21/01/26 17:58:08</td>   <td>30911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToCartTestcases.TC_02_AddToCart_A(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">TC_02_AddToCart_A</td> 
  <td>main@2053591126</td>   <td></td> </tr>
<tr bgcolor="74e963">  <td>21/01/26 17:58:26</td>   <td>48625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@2053591126</td>   <td></td> </tr>
<tr bgcolor="74e963">  <td>21/01/26 17:58:27</td>   <td>49602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@2053591126</td>   <td></td> </tr>
<tr bgcolor="6161f7">  <td>21/01/26 17:58:34</td>   <td>57468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToCartTestcases.TC_03_AddToCart_A(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">TC_03_AddToCart_A</td> 
  <td>main@2053591126</td>   <td></td> </tr>
<tr bgcolor="74e963">  <td>21/01/26 17:58:51</td>   <td>73621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@2053591126</td>   <td></td> </tr>
<tr bgcolor="74e963">  <td>21/01/26 17:58:52</td>   <td>74618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@2053591126</td>   <td></td> </tr>
<tr bgcolor="6161f7">  <td>21/01/26 17:59:00</td>   <td>82708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToCartTestcases.TC_04_AddToCart_A(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">TC_04_AddToCart_A</td> 
  <td>main@2053591126</td>   <td></td> </tr>
<tr bgcolor="74e963">  <td>21/01/26 17:59:16</td>   <td>99210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@2053591126</td>   <td></td> </tr>
<tr bgcolor="74e963">  <td>21/01/26 17:59:17</td>   <td>100228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@2053591126</td>   <td></td> </tr>
<tr bgcolor="6161f7">  <td>21/01/26 17:59:25</td>   <td>108190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToCartTestcases.TC_05_AddToCart_A(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">TC_05_AddToCart_A</td> 
  <td>main@2053591126</td>   <td></td> </tr>
<tr bgcolor="74e963">  <td>21/01/26 17:59:41</td>   <td>124255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@2053591126</td>   <td></td> </tr>
<tr bgcolor="deacb2">  <td>21/01/26 17:59:42</td>   <td>125214</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MT.afterClass()[pri:0, instance:com.dollardays.testcases.AddToCartTestcases@74e52ef6]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2053591126</td>   <td></td> </tr>
</table>
